body {
    font-family: Helvetica, sans-serif;
    background: grey;
    margin: 0;
    padding: 0;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#myVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro {
    position: relative;
    height: 100vh;
}
.BMW{
    padding-left: 20px;
    position: absolute;
}
.navbar {
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

a {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
}

a:visited {
    color: whitesmoke;
}
.navbar a:hover {
    color: #ffffff;
}

a:hover {

    color: whitesmoke;
}

a:active {
    color: whitesmoke;
}

.info {
    position: absolute;
    padding: 10px;
    bottom: 150px;
    left: 50px;
}
.info p{
    font-size: 24px;
    padding-bottom: 24px;
    color: white;
    margin: 0;
}
.info h1 {
    font-size: 48px;
    color: white;
    margin: 0;
    padding-bottom: 24px;
}
.button {
    position: relative;
    z-index: 2;
}
.button button {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    bottom: -50px;
    left: 1px;
    z-index: 2;
}

.button button:hover {
    background-color: #fff;
    color: #000;
}